*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  padding-top: 56px;
}
.navbar-brand {
    color: red;
}

 .d-flex button{
    background-color: red;
    color:white;
    border:none;

 }
 .d-flex a {
    color: black;
    font-size:15px;
 }
   .list-group{
    font-size: 12px;
    list-style: none;
    text-decoration: none; 
 } 
 .content h3{
   color: red;
  }
 
  .sidebar{
    border-left: 1px solid black;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 20px;
    
  }
  
 
  .sidebar img {
   width: 100%;  
   max-width: 900px;  
   margin-bottom: 20px; 
 }
 .sidebar h3{
  color: red;
 }
 .sidebar Popular{
  color: red;
 }
  .time-text{
   color: red;
   font-size:13px;
   /* margin-top: 3px; */
 }
 hr{
   border: none;
   height: 4px;
   background-color:#ff0000;
   margin: 20px 0;
 }
 .content-left .content-box {
  width: 180px;
  height: 80px;
  background-color: rgb(61, 61, 61);
  border-radius: 7px;
  color: white;
  font-size: 15px;
  justify-content: center;
  padding-left: 2px;

 }
 .small-content{
  border-right: 1px solid black;
  padding-left: 5px;
}
.content-box2{
  width: 190px;
  height: 200px;
  background-color: hsl(0, 72.70%, 95.70%);
  border-radius: 7px;
  color: black;
  font-size: 15px;
  justify-content: center;
  padding-left: 2px;
}
